# Top Earners in Movie Industry

## Table of Contents

<ul>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#eda">Exploratory Data Analysis</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>

<a id="#intro"></a>
## Introduction

> This analysis project is to be done using the imdb movie data. When the analysis is completed, you should be able to find the top 5 highest grossing directors, the top 5 highest grossing movie genres of all time, comparing the revenue of the highest grossing movies and which companies released the most movies. 

> There are 10 columns that will not be needed for the analysis. Use pandas to drop these columns. HINT: Only the columns pertaining to revenue will be needed.

> To get you started, I've already placed the needed code for getting the packages and datafile that you will be using for the project.

In [1]:
import pandas as pd
import numpy as np

!pip install matplotlib 
import matplotlib.pyplot as plt

Requirement already satisfied: matplotlib in c:\users\chad\appdata\local\programs\python\python39\lib\site-packages (3.4.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\chad\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.16 in c:\users\chad\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.21.2)
Requirement already satisfied: cycler>=0.10 in c:\users\chad\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\chad\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\chad\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\chad\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: six in c:\users\chad\appdata\local\programs\python\python39\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)

WARNING: You are using pip version 21.1.3; however, version 21.3 is available.
You should consider upgrading via the 'c:\users\chad\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [38]:
df = pd.read_csv('imdb-movies.csv')

### Drop columns without neccesary information and remove all records with no financial information -- Pay close attention to things that don't tell you anything regarding financial data

In [39]:
data = df.drop(['id', 'imdb_id', 'popularity', 'cast', 'homepage', 'tagline', 'keywords', 'overview', 'vote_count', 'vote_average', 'release_year', 'runtime'], inplace = False, axis = 1)
data

,budget,revenue,original_title,director,genres,production_companies,release_date,budget_adj,revenue_adj
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,1.379999e+08,1.392446e+09
1,150000000,378436354,Mad Max: Fury Road,George Miller,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,1.379999e+08,3.481613e+08
2,110000000,295238201,Insurgent,Robert Schwentke,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,1.012000e+08,2.716190e+08
3,200000000,2068178225,Star Wars: The Force Awakens,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,1.839999e+08,1.902723e+09
4,190000000,1506249360,Furious 7,James Wan,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...
10861,0,0,The Endless Summer,Bruce Brown,Documentary,Bruce Brown Films,6/15/66,0.000000e+00,0.000000e+00
10862,0,0,Grand Prix,John Frankenheimer,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,0.000000e+00,0.000000e+00
10863,0,0,Beregis Avtomobilya,Eldar Ryazanov,Mystery|Comedy,Mosfilm,1/1/66,0.000000e+00,0.000000e+00
10864,0,0,"What's Up, Tiger Lily?",Woody Allen,Action|Comedy,Benedict Pictures Corp.,11/2/66,0.000000e+00,0.000000e+00
10865,19000,0,Manos: The Hands of Fate,Harold P. Warren,Horror,Norm-Iris,11/15/66,1.276423e+05,0.000000e+00

,budget,revenue,original_title,director,genres,production_companies,release_date,budget_adj,revenue_adj
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,"[Universal Studios, Amblin Entertainment, Lege...",6/9/15,1.379999e+08,1.392446e+09
1,150000000,378436354,Mad Max: Fury Road,George Miller,Action|Adventure|Science Fiction|Thriller,"[Village Roadshow Pictures, Kennedy Miller Pro...",5/13/15,1.379999e+08,3.481613e+08
2,110000000,295238201,Insurgent,Robert Schwentke,Adventure|Science Fiction|Thriller,"[Summit Entertainment, Mandeville Films, Red W...",3/18/15,1.012000e+08,2.716190e+08
3,200000000,2068178225,Star Wars: The Force Awakens,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,"[Lucasfilm, Truenorth Productions, Bad Robot]",12/15/15,1.839999e+08,1.902723e+09
4,190000000,1506249360,Furious 7,James Wan,Action|Crime|Thriller,"[Universal Pictures, Original Film, Media Righ...",4/1/15,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...
10861,0,0,The Endless Summer,Bruce Brown,Documentary,[Bruce Brown Films],6/15/66,0.000000e+00,0.000000e+00
10862,0,0,Grand Prix,John Frankenheimer,Action|Adventure|Drama,"[Cherokee Productions, Joel Productions, Dougl...",12/21/66,0.000000e+00,0.000000e+00
10863,0,0,Beregis Avtomobilya,Eldar Ryazanov,Mystery|Comedy,[Mosfilm],1/1/66,0.000000e+00,0.000000e+00
10864,0,0,"What's Up, Tiger Lily?",Woody Allen,Action|Comedy,[Benedict Pictures Corp.],11/2/66,0.000000e+00,0.000000e+00
10865,19000,0,Manos: The Hands of Fate,Harold P. Warren,Horror,[Norm-Iris],11/15/66,1.276423e+05,0.000000e+00

### Data Cleaning

In [40]:
def seperate(input1):
    try:
        newlist = input1.split('|')
        return newlist
    except:
        return 'N/A'

data['production_companies'] = data['production_companies'].apply(seperate)
prod = data.explode('production_companies', ignore_index=False)
prod

,budget,revenue,original_title,director,genres,production_companies,release_date,budget_adj,revenue_adj
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Universal Studios,6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Amblin Entertainment,6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Legendary Pictures,6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Fuji Television Network,6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Dentsu,6/9/15,1.379999e+08,1.392446e+09
...,...,...,...,...,...,...,...,...,...
10862,0,0,Grand Prix,John Frankenheimer,Action|Adventure|Drama,Joel Productions,12/21/66,0.000000e+00,0.000000e+00
10862,0,0,Grand Prix,John Frankenheimer,Action|Adventure|Drama,Douglas & Lewis Productions,12/21/66,0.000000e+00,0.000000e+00
10863,0,0,Beregis Avtomobilya,Eldar Ryazanov,Mystery|Comedy,Mosfilm,1/1/66,0.000000e+00,0.000000e+00
10864,0,0,"What's Up, Tiger Lily?",Woody Allen,Action|Comedy,Benedict Pictures Corp.,11/2/66,0.000000e+00,0.000000e+00
10865,19000,0,Manos: The Hands of Fate,Harold P. Warren,Horror,Norm-Iris,11/15/66,1.276423e+05,0.000000e+00

#### Here's a helpful hint from my own analysis when I ran this the first time. This may help shed light on what your data set should look like.

#### If I created one record for each the `production_companies` a movie was release under and one record each for `genres`<br>and tried to run calculations, it wouldn't work because for many records, the amount of `production_companies`<br>and `genres` aren't the same, so I'll create 2 dataframes; one w/o a `production_companies` column and one w/o a `genres` columns

In [9]:
prod

,budget,revenue,original_title,director,genres,production_companies,release_date,budget_adj,revenue_adj
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Universal Studios,6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Amblin Entertainment,6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Legendary Pictures,6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Fuji Television Network,6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Dentsu,6/9/15,1.379999e+08,1.392446e+09
...,...,...,...,...,...,...,...,...,...
10862,0,0,Grand Prix,John Frankenheimer,Action|Adventure|Drama,Joel Productions,12/21/66,0.000000e+00,0.000000e+00
10862,0,0,Grand Prix,John Frankenheimer,Action|Adventure|Drama,Douglas & Lewis Productions,12/21/66,0.000000e+00,0.000000e+00
10863,0,0,Beregis Avtomobilya,Eldar Ryazanov,Mystery|Comedy,Mosfilm,1/1/66,0.000000e+00,0.000000e+00
10864,0,0,"What's Up, Tiger Lily?",Woody Allen,Action|Comedy,Benedict Pictures Corp.,11/2/66,0.000000e+00,0.000000e+00
10865,19000,0,Manos: The Hands of Fate,Harold P. Warren,Horror,Norm-Iris,11/15/66,1.276423e+05,0.000000e+00

<a id="eda"></a>
## Exploratory Data Analysis

> Use Matplotlib to display your data analysis

### Which production companies released the most movies in the last 10 years? Display the top 5 production companies.

In [6]:
# dates = prod[['release_date']]
# for release_date in prod:
#     if 'release_date'[-1] == 5:
#         print('release_date')


prod.groupby(['production_companies']).count().sort_values('original_title', ascending=False).head(6)[['original_title']]

# The top 5 production companies are Universal, WB, Paramount, 20th century fox, and columbia pictures.

                                        original_title
production_companies
N/A                                               1030
Universal Pictures                                 522
Warner Bros.                                       509
Paramount Pictures                                 431
Twentieth Century Fox Film Corporation             282
Columbia Pictures                                  272

### What 5 movie genres grossed the highest all-time?

In [41]:
data['genres'] = data['genres'].apply(seperate)
data_genres = data.explode('genres', ignore_index=False)

,budget,revenue,original_title,director,genres,production_companies,release_date,budget_adj,revenue_adj
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action,"[Universal Studios, Amblin Entertainment, Lege...",6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Adventure,"[Universal Studios, Amblin Entertainment, Lege...",6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Science Fiction,"[Universal Studios, Amblin Entertainment, Lege...",6/9/15,1.379999e+08,1.392446e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Thriller,"[Universal Studios, Amblin Entertainment, Lege...",6/9/15,1.379999e+08,1.392446e+09
1,150000000,378436354,Mad Max: Fury Road,George Miller,Action,"[Village Roadshow Pictures, Kennedy Miller Pro...",5/13/15,1.379999e+08,3.481613e+08
...,...,...,...,...,...,...,...,...,...
10863,0,0,Beregis Avtomobilya,Eldar Ryazanov,Mystery,[Mosfilm],1/1/66,0.000000e+00,0.000000e+00
10863,0,0,Beregis Avtomobilya,Eldar Ryazanov,Comedy,[Mosfilm],1/1/66,0.000000e+00,0.000000e+00
10864,0,0,"What's Up, Tiger Lily?",Woody Allen,Action,[Benedict Pictures Corp.],11/2/66,0.000000e+00,0.000000e+00
10864,0,0,"What's Up, Tiger Lily?",Woody Allen,Comedy,[Benedict Pictures Corp.],11/2/66,0.000000e+00,0.000000e+00
10865,19000,0,Manos: The Hands of Fate,Harold P. Warren,Horror,[Norm-Iris],11/15/66,1.276423e+05,0.000000e+00

In [48]:
data_genres.groupby('genres').sum()[['revenue']].sort_values('revenue', ascending = False).head()

# The top 5 genres in terms of revenue is action, adventure, comedy, drama, and thriller.

                revenue
genres
Action     173543608094
Adventure  166425793633
Comedy     142337036180
Drama      139146504255
Thriller   121305476800

### Who are the top 5 grossing directors?

In [52]:
data.groupby('director').sum()[['revenue']].sort_values('revenue', ascending = False).head()

# the highest grossing directors are Steven Spielberg, Peter Jackson, James Cameron, Michael Bay, Christopher Nolan.

                      revenue
director
Steven Spielberg   9018563772
Peter Jackson      6523244659
James Cameron      5841894863
Michael Bay        4917208171
Christopher Nolan  4167548502

### Compare the revenue of the highest grossing movies of all time.

In [8]:
data.sort_values('revenue', ascending=False).head()

,budget,revenue,original_title,director,genres,production_companies,release_date,budget_adj,revenue_adj
1386,237000000,2781505847,Avatar,James Cameron,Action|Adventure|Fantasy|Science Fiction,"[Ingenious Film Partners, Twentieth Century Fo...",12/10/09,2.408869e+08,2.827124e+09
3,200000000,2068178225,Star Wars: The Force Awakens,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,"[Lucasfilm, Truenorth Productions, Bad Robot]",12/15/15,1.839999e+08,1.902723e+09
5231,200000000,1845034188,Titanic,James Cameron,Drama|Romance|Thriller,"[Paramount Pictures, Twentieth Century Fox Fil...",11/18/97,2.716921e+08,2.506406e+09
4361,220000000,1519557910,The Avengers,Joss Whedon,Science Fiction|Action|Adventure,[Marvel Studios],4/25/12,2.089437e+08,1.443191e+09
0,150000000,1513528810,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,"[Universal Studios, Amblin Entertainment, Lege...",6/9/15,1.379999e+08,1.392446e+09

<a id="conclusions"></a>
## Conclusions

> Using the cell below, write a brief conclusion of what you have found from the anaylsis of the data. The Cell below will allow you to write plan text instead of code.